
@{
    ViewBag.Title = "Acerca de..";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Acerca de..<small></small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h1><small>Quienes Somos</small></h1>
                <p>
                    Aqui encontraras toda la información necesaria para gestionar y visualizar la informacion de tadas las sucursales y tiendas matrices,
                    Podras configurar los servicios web, ver la información de envio de transferencias, facturas y nominas, asi como la informacionde cierres diarios de las tiendas.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="well">
                <h1><small>Donde Estamos</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h1><small>Nuestro Team</small></h1>
                <br />
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder">
                            <div class="panel-body">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                                <h5>Giovanny Calles</h5>
                                <small class="bg-color-brown">Presidente</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder">
                            <div class="panel-body">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                                <h5>Giovanny Calles</h5>
                                <small class="bg-color-brown">Presidente</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder">
                            <div class="panel-body">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                                <h5>Giovanny Calles</h5>
                                <small class="bg-color-brown">Presidente</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder">
                            <div class="panel-body">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                                <h5>Giovanny Calles</h5>
                                <small class="bg-color-brown">Presidente</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


